<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>TeacherLogin</display-name>
    <servlet-name>TeacherLogin</servlet-name>
    <servlet-class>techcraft.teacher.controller.TeacherLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLogin</servlet-name>
    <url-pattern>/TeacherLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>techcraft.teacher.controller.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherLogout</display-name>
    <servlet-name>TeacherLogout</servlet-name>
    <servlet-class>techcraft.teacher.controller.TeacherLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLogout</servlet-name>
    <url-pattern>/TeacherLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCodingChallenge</display-name>
    <servlet-name>AddCodingChallenge</servlet-name>
    <servlet-class>techcraft.teacher.controller.AddCodingChallenge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCodingChallenge</servlet-name>
    <url-pattern>/AddCodingChallenge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAssessment</display-name>
    <servlet-name>AddAssessment</servlet-name>
    <servlet-class>techcraft.teacher.controller.AddAssessment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAssessment</servlet-name>
    <url-pattern>/AddAssessment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuizQuestion</display-name>
    <servlet-name>AddQuizQuestion</servlet-name>
    <servlet-class>techcraft.teacher.controller.AddQuizQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuizQuestion</servlet-name>
    <url-pattern>/AddQuizQuestion</url-pattern>
  </servlet-mapping>
</web-app>