<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>StudentRegistration</display-name>
    <servlet-name>StudentRegistration</servlet-name>
    <servlet-class>techcraft.controller.StudentRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegistration</servlet-name>
    <url-pattern>/StudentRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLogin</display-name>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>techcraft.controller.StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLogout</display-name>
    <servlet-name>StudentLogout</servlet-name>
    <servlet-class>techcraft.controller.StudentLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogout</servlet-name>
    <url-pattern>/StudentLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>techcraft.controller.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentFeedback</display-name>
    <servlet-name>StudentFeedback</servlet-name>
    <servlet-class>techcraft.controller.StudentFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentFeedback</servlet-name>
    <url-pattern>/StudentFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitCodingChallenge</display-name>
    <servlet-name>SubmitCodingChallenge</servlet-name>
    <servlet-class>techcraft.controller.SubmitCodingChallenge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitCodingChallenge</servlet-name>
    <url-pattern>/SubmitCodingChallenge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>techcraft.controller.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotAndChangePassword</display-name>
    <servlet-name>ForgotAndChangePassword</servlet-name>
    <servlet-class>techcraft.controller.ForgotAndChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotAndChangePassword</servlet-name>
    <url-pattern>/ForgotAndChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadVideoServlet</display-name>
    <servlet-name>UploadVideoServlet</servlet-name>
    <servlet-class>techcraft.controller.UploadVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadVideoServlet</servlet-name>
    <url-pattern>/UploadVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitVideoProgress</display-name>
    <servlet-name>SubmitVideoProgress</servlet-name>
    <servlet-class>techcraft.controller.SubmitVideoProgress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitVideoProgress</servlet-name>
    <url-pattern>/SubmitVideoProgress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSessionValueServlet</display-name>
    <servlet-name>SetSessionValueServlet</servlet-name>
    <servlet-class>techcraft.controller.SetSessionValueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSessionValueServlet</servlet-name>
    <url-pattern>/SetSessionValueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSessionValueServlet2</display-name>
    <servlet-name>SetSessionValueServlet2</servlet-name>
    <servlet-class>techcraft.controller.SetSessionValueServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSessionValueServlet2</servlet-name>
    <url-pattern>/SetSessionValueServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadQuizServlet</display-name>
    <servlet-name>UploadQuizServlet</servlet-name>
    <servlet-class>techcraft.controller.UploadQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadQuizServlet</servlet-name>
    <url-pattern>/UploadQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitQuizProgress</display-name>
    <servlet-name>SubmitQuizProgress</servlet-name>
    <servlet-class>techcraft.controller.SubmitQuizProgress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitQuizProgress</servlet-name>
    <url-pattern>/SubmitQuizProgress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitAssessment</display-name>
    <servlet-name>SubmitAssessment</servlet-name>
    <servlet-class>techcraft.controller.SubmitAssessment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitAssessment</servlet-name>
    <url-pattern>/SubmitAssessment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateCertificate</display-name>
    <servlet-name>GenerateCertificate</servlet-name>
    <servlet-class>techcraft.controller.GenerateCertificate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateCertificate</servlet-name>
    <url-pattern>/GenerateCertificate</url-pattern>
  </servlet-mapping>
</web-app>